{% extends "base_site.html" %}
{% load static %}
{% block title %}
    Blog
{% endblock title %}
{% block container%}
    
	<div id="breadcrumb">
		<div class="container">	
			<div class="breadcrumb">							
				<li><a href="/">Home</a></li>
				<li>Blog</li>			
			</div>		
		</div>	
	</div>
	
	<section id="blog" class="container">
        <div class="blog">
            <div class="row">
                <div class="col-md-8">
                {% for post in posts  %}
                    <div class="blog-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-2">
                                <div class="entry-meta">
                                    <span id="publish_date">{{ post.published_date|date:"D,d,M,Y" }}</span>
                                    <span><i class="fa fa-user"></i> <a href="#">{{ post.author }}</a></span>
                                </div>
                            </div>
                                
                            <div class="col-xs-12 col-sm-10 blog-content">
                                <h4>{{ post.title }}</h4>
                                <p style="text-color:#000">{{ post.text|safe|truncatewords:"60"|linebreaks  }}</p>
                                <a class="btn btn-primary readmore"href="/blog/post/{{post.pk}}">Leia Mais <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>    
                    </div><!--/.blog-item-->
                    {% endfor %}
                    
                    <div class="col-md-12">
                        <nav class="text-center">
                            <ul class="pagination">
                                <li>
                                    {% if posts.has_previous %}
                                    <a href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                    {% endif %}
                                </li>
                                {% for pg in posts.paginator.page_range %}
                                {% if posts.number == pg %}
                                    <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ pg }}{% if request.GET.search_box %}
                                    &search_box={{ request.GET.search_box }}{% endif %}">{{ pg }}</a></li>
                                {% endif %}
                                {% endfor %}
                                <li>
                                  {% if posts.has_next %}
                                    <a href="?page={{ posts.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div><!--/.col-md-8-->

                <aside class="col-md-4">
                    <div class="widget search">
                        <form role="form">
                            <input type="text" class="form-control search_box" autocomplete="off" placeholder="Pesquisar ">
                        </form>
                    </div><!--/.search-->
    				
    				
                     <style type="text/css">
                         img{
                            border-radius: 5px;
                            margin-bottom: 45px;
                        }
                     </style>

                    <div class="widget categories">
                        <h3>Categorias</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="blog_category">
                                    <li><a href="#">internet <span class="badge">04</span></a></li>
                                    <li><a href="#">Smartphones <span class="badge">10</span></a></li>
                                    <li><a href="#">Informação <span class="badge">06</span></a></li>
                                    <li><a href="#">Tecnologia <span class="badge">25</span></a></li>
                                </ul>
                            </div>
                        </div>                     
                    </div><!--/.categories-->
    				
                    <div class="widget tags">
                        <h3>Tag Cloud</h3>
                        <ul class="tag-cloud">
                          {% for tag in tags %}
                            <li><a class="btn btn-xs btn-primary" href="{% url 'tag_posts_page' slug=tag.slug %}">{{ tag.title }}</a></li>
                             {% empty %}
                            <p>Nâo Há tags!</p>
                          {% endfor %}
                        </ul>
                        
                    </div><!--/.tags-->
    				<!--/.blog_gallery
    				<div class="widget blog_gallery">
                        <h3>Nossa Galeria</h3>
                        <ul class="sidebar-gallery">
                            <li><a href="#"><img src="{% static "images/blog/gallery1.png"%}" alt="" /></a></li>
                            <li><a href="#"><img src="{% static "images/blog/gallery2.png"%}" alt="" /></a></li>
                            <li><a href="#"><img src="{% static "images/blog/gallery3.png"%}" alt="" /></a></li>
                            <li><a href="#"><img src="{% static "images/blog/gallery4.png"%}" alt="" /></a></li>
                            <li><a href="#"><img src="{% static "images/blog/gallery5.png"%}" alt="" /></a></li>
                            <li><a href="#"><img src="{% static "images/blog/gallery6.png"%}" alt="" /></a></li>
                        </ul>
                    </div>-->
    			</aside>  
            </div><!--/.row-->
        </div>
    </section><!--/#blog-->
	
{%endblock%}